@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flex {
  100% {
    flex: 0;
  }
}

.content {
  &.exiting-fade {
    main {
      animation: fadeOut 150ms ease-in;
      animation-fill-mode: forwards;
    }
  }
  &.enter-fade {
    main {
      animation: fadeIn 150ms ease-in;
      animation-fill-mode: forwards;
    }
  }
}
