/* Colors */
$color-primary: #fff !default;
$color-secondary: #fff !default;

/* Fonts */
$font-family-main: Arial, sans-serif !default;
$font-family-title: Arial, sans-serif !default;

$font-size-base: 1rem !default;
$font-size-small: .75rem !default;
