.mainPage {
  background-image: url(../img/background.jpeg);
  animation: fadeIn 150ms ease-in;
  video {
    display: none;
    animation: fadeIn 1000ms ease-in;
    object-fit: cover;
    object-position: center;
  }
}

.content.is-exiting {
  .mainPage {
    animation: fadeOut 150ms ease-in;
    animation-fill-mode: forwards;
  }
}
