.sampleWork {
  background-image: url(../img/work_1.jpg);
  &.work1 {
    background-image: url(../img/work_1.jpg);
  }
  &.work2 {
    background-image: url(../img/work_2.jpg);
  }
  &.work3 {
    background-image: url(../img/work_3.jpg);
  }
}
