.works {
  background-image: url(../img/background_works.jpeg);
  animation: fadeIn 150ms ease-in;
}

.content.is-exiting {
  .works {
    animation: fadeOut 150ms ease-in;
    animation-fill-mode: forwards;
  }
}
